// Define global colors:
$blue: #0D85FD;
$darkBlue: #0266c8;
$darkGray: #161616;
$white: #fff;
$black: #000;

body {
  font-family: "Open Sans", sans-serif;
  color: $white;
  background-color: $darkGray;
}

a {
  text-decoration:none;
  color: $white;
}

.domains a {
  color: $blue;
}

a:hover {
  color: $blue;
  cursor: pointer;
}

div.viewWrapper{
  margin:50px auto;
  min-height:400px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.546em;
}

h1, h2, h3 {
  font-family: "Montserrat";
}

p {
  font-size: 0.95em;
  padding: 0.5em 0;
}