/* Background */

.bkgd {
  background: url(/images/nightsky3.jpg) no-repeat;
  background-color: #000;
  background-size: cover;
  background-position: center;
}

.bkgd__dash {
  background-color: #6885A1;
}

/* Header */

header {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

/* Main */

main {
  margin: 1em;
}

/* Nav */

.nav ul {
  text-align: center;
  margin-bottom: 2em;
}

.nav ul li {
  display: inline;
  margin-right: 2em;
}

.nav ul li a {
  color: #ffffff;
  font-size: 1.546em;
}

.nav ul li a:hover {
  color: #0D85FD;
  cursor: pointer;
}

/* Flexbox */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.flex-container__content {
  align-items: baseline;
  background-color: #ffffff;
  color: #000;
  width: 80%;
  margin: 1% 8.5%;
}

.flex-item {
  margin: 1em auto;
}

.flex-item__dash {
  margin: 0.5em auto;
  width: 16.875em;
}

.flex-item__figure {
  margin: .5em auto;
  width: 29em;
  height: 10em;
}

@media only screen and (max-width : 40em) {
  .flex-container__content {
    flex-direction: column;
  }

  .flex-item__figure {
    width: 15em;
    height: 27em;
  }
}

.flex-item__leftcol {
  margin: .5em auto;
  width: 20%;
}

.flex-item__rightcol {
  margin: .5em auto;
  width: 65%;
}

.flex-item__nav {
  margin: 1em auto;
  padding: .5em .5em;
}

/* Article */

article {
  padding: 1em;
  line-height: 1em;
}

/* Dashboard */

.info {
  color: #000000;
  padding: 1em;
}

figure {
  background: #ffffff;
  -moz-box-shadow:    0 0 0.05em 0.05em #ccc;
  -webkit-box-shadow: 0 0 0.05em 0.05em #ccc;
  box-shadow:         0 0 0.05em 0.05em #ccc;
}

/* Menu */

menu ol {
  margin: 1em auto;
}

menu ol li {
  padding-bottom: 1em;
}

/* Footer */

footer {
  margin: 2em;
}

/* Button */

button {
  background: #0D85FD;
  color: white;
  font: 0.955em "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  padding: 0.75em 3em;
  text-transform: uppercase;
  border: 0;
  text-align: center;
  display: inline-block;
}
