<article class="flex-container__content">
  <section class="flex-item__dash" data-ng-mouseout="hideList()">

    <div data-ng-mouseover='openDropdown()' data-ng-mouseleave='closeDropdown()'>
      <h3>Select a domain</h3>
      <menu data-ng-show="dropdown">
        <menuitem data-ng-repeat="domain in domains">
          <a data-ng-click="getVisits(domain._id)">{{domain.host}}</a>
        </menuitem>
      </menu>
    </div>

    <form>
      <label for="add-domain">Add a domain</label>
      <fieldset>
        <input data-ng-model="newDomain" type="url" id="domain" placeholder="URL">
      </fieldset>
      <fieldset>
        <button data-ng-click="addDomain()">Add</button>
      </fieldset>
    </form>

  </section>

<!--   <section class="flex-item__dash">
    <form id="date-range">
      <fieldset>
        <label for="date-selector">Select date range</label>
        <ol>
          <li>
            <input id="start-date" name="start-date" type="date" placeholder="MM/DD/YYYY">
          </li>
          <li>
            <input id="end-date" name="end-date" type="date" placeholder="MM/DD/YYYY">
          </li>
        </ol>
      </fieldset>
      <fieldset>
        <button type="submit">Apply</button>
      </fieldset>
    </form>
  </section> -->

  <figure class="flex-item__figure">
    <div data-ng-show="selectedDomain">
      <h3>Visit Data</h3>
      <div data-ng-repeat="visit in visits">
        <p>{{ visit }}</p>
      </div>
    </div>
  </figure>
</article>