<h1>
	Fake stats:
</h1>

<ul>
	<li data-ng-repeat="item in data">
		<div data-ng-hide="item.editing">

			{{item.url}} | (source ID: {{item.sourceID}}) | {{item.pageViews}} pageviews | {{item.time}}

			<button data-ng-click="updateData(item)">
				Edit data
			</button>

			<button data-ng-click="deleteData(item)">
				Delete data
			</button>

		</div>

		<div data-ng-show="item.editing">

			<h3>Update your fake data:</h3>

			<form>

				<label>
					New URL:
				</label>
				<input data-ng-model="item.url">
				<br>

				<label>
					New number of pageviews:
				</label>
				<input data-ng-model="item.pageViews">
				<br>

				<label>
					New ID:
				</label>
				<input data-ng-model="item.sourceID">

				<button data-ng-click="saveOldData(item)">
					Update
				</button>

			</form>
		</div>

	</li>
</ul>

<h3>
	Generate more fake data
</h3>
<form>

	<label>
		ID (which user&rsquo;s site is it from?)
	</label>
	<input data-ng-model="newData.sourceID">
	<br>

	<label>
		URL
	</label>
	<input data-ng-model="newData.url">
	<br>

	<label>
		Numbers of pageviews
	</label>
	<input data-ng-model="newData.pageViews">

	<button data-ng-click="saveNewData()">
		Add new data!
	</button>

</form>

<hr>

<button data-ng-click="signOut()">
	Sign out
</button>

<hr>

<button data-ng-click="deleteAllData()">
  Delete all tracking data (!)
</button>