<div class="viewWrapper">

  <div ng-init="newUser = false" >

    <h1>Gateway</h1>

    <div data-ng-controller="sessionController" data-ng-show="!newUser" class="section">

      <h3>Login</h3>

      <div>
        <input type="text" data-ng-model="user.email" placeholder="email">
      </div>

      <div>
        <input type="password" data-ng-model="user.password" placeholder="password">
      </div>
      
      <div>
        <button ng-click="logIn()">Log In</button>
        <button ng-click="logOut()">Log Out</button>
      </div>
      
    </div>

    <div data-ng-controller="accountController" data-ng-show="newUser" class="section">

      <h3>Create an account</h3>

      <div>
        <input type="text" data-ng-model="user.newEmail" placeholder="email">
      </div>
      
      <div>
        <input type="password" data-ng-model="user.newPassword" placeholder="password">
      </div>
      
      <div>
        <button data-ng-click="createNewUser()">Register</button>
      </div>
      
    </div>

    <a data-ng-click="newUser = !newUser">
      {{!newUser ? 'Create new User' : 'Sign in to existing account'}}
    </a>

  </div>
</div>