<div ng-init="newUser = false">
  <h1>Gateway</h1>
  <div data-ng-controller="sessionController" data-ng-show="!newUser">
    <h3>Login</h3>

    <div>
      <label>Email</label>
      <input type="text" data-ng-model="user.email">
    </div>

    <div>
      <label>Password</label>
      <input type="password" data-ng-model="user.password">
    </div>
    
    <button ng-click="logIn()">Log In</button>
    <button ng-click="logOut()">Log Out</button>
  </div>

  <div data-ng-controller="accountController" data-ng-show="newUser">
    <h3>Create an account</h3>

    <label>Email</label>
    <input type="text" data-ng-model="user.newEmail">

    <label>Password</label>
    <input type="password" data-ng-model="user.newPassword">

    <button data-ng-click="createNewUser()">Create account</button>
  </div>

  <a data-ng-click="newUser = !newUser">{{!newUser ? 'Create new User' : 'Sign in to existing account'}}</a>

</div>

<!-- <div class="danger">
  <button data-ng-click="deleteAllUsers()">Delete all users (!)</button>
</div> -->