<form>
	<label>
		URL
	</label>
	<input data-ng-model="newData.url">
	<label>
		Event type
	</label>
	<input data-ng-model="newData.eventType">
	<button data-ng-click="saveNewData()">
		Add new data!
	</button>
</form>

<ul>
	<li data-ng-repeat="item in data">
		<div data-ng-hide="item.editing">
			{{item.url}} | {{item.eventType}}
			<button data-ng-click="updateData(item)">
				Edit data
			</button>
			<button data-ng-click="deleteData(item)">
				Delete data
			</button>
		</div>

		<div data-ng-show="item.editing">
			<h2>Update your data:</h2>
			<form>
				<label>
					New URL:
				</label>
				<input data-ng-model="item.url">

				<label>
					New event type:
				</label>
				<input data-ng-model="item.eventType">
				<button data-ng-click="saveOldData(item)">
					Update
				</button>
			</form>
		</div>

	</li>
</ul>

<!-- <button data-ng-click="signOut()">
	Sign out
</button> -->