<header class="flex-container">
  <section class="flex-item">
    <a href="index.html">
      <img src="images/logotextwhite.png">
    </a>
    <h1>Microanalytics for a JavaScript world</h1>
  </section>
</header>
<main>
  <article class="flex-container__content">
    <section class="flex-item">
      <p><h3>Add the following code to the &lt;head&gt; of your site:</h3></p>
      <p>{{scriptPath}}</p>
      <button ng-click='continue()'>Done!</button>
    </section>
  </article>
</main>
<footer>
  <nav class="nav flex-container">
    <ul>
      <li class="flex-item__nav"><a href="about.html">About</a></li>
      <li class="flex-item__nav"><a href="contact.html">Contact</a></li>
      <li class="flex-item__nav"><a href="help.html">Help</a></li>
    </ul>
  </nav>
</footer>


